.banner {
  position: relative;
}

.banner .banner-img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

.banner .banner-cut {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner-box {
  position: absolute;
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 75px;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
  left: 10vw;
}

@media (max-width: 768px) {
  .banner-box {
    transform: scale(0.6);
    left: 0px;
    top: 0;
  }
}

@media (max-width: 375px) {
  .banner-box {
    display: none;
  }
}

.banner-box button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}
