.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777878;
  font-size: 12px;
}

.range-container {
  display: flex;
  align-items: center;
}
.range-container span {
  margin: 25px;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
  font-size: 12px;
}

.switch-handle-down,
.switch-handle-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15;
  color: #fff;
  background-color: var(--vintedGreen);
  padding-right: 2;
  border-radius: 50%;
}

.offer-by-page {
  margin-left: 40px;
}

.offer-by-page select {
  width: 40px;
  margin-left: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .filters-container {
    /* display: none; */
    flex-direction: column;
    /* width: 200px; */
    justify-items: center;
    align-items: center;
    align-content: flex-start;
  }
  .range-container {
    width: 80vw;
  }
  .range-container span {
    display: none;
  }
  .offer-by-page {
    margin: 0;
  }
}
